<div class="zci--libraries">

    <p>{{description}}</p>

    {{#if install}}
        <pre>{{install}}</pre>
    {{/if}}

    <!-- MORE AT LABELS -->
    <div id="zci__more-at">
        <a href="{{url}}" class="zci__more-at--info">
            <img class="zci__more-at__icon" src="{{ imageProxy moreAtIcon }}">
            Learn more
        </a>
        <span class="zcm__sep"></span>
        <a href="https://libraries.io" class="zci__more-at">
            <img class="zci__more-at__icon" src="{{ imageProxy librariesIcon }}">
            Powered by Libraries.com
        </a>
    </div>

</div>